/* CSS Document */

body{
font-family:Verdana, Geneva, sans-serif;
padding:20px;
}

h1{
	color:#069;
	
	}
	
p{text-align:justify;}

/* CSS Formulario start */

form{
	background-color:#DFDFDF;
	padding:20px;
	border-radius: 5px;	
	border: 1px solid #ccc;
	
}

fieldset{
	padding:20px;
	margin-top:25px;
	border: 1px solid #069;
	border-radius: 5px;	
}
label{
	color:#069;	
}

legend{
color:#069;
font-weight:bold;
}

section{
	width:50%;
	max-width:600px;
	min-width:300px;	
}
.input{
	border: 1px solid #069;
	border-radius: 5px;	
	width:100%;
	min-width:200px;
	color:#666;
	font-size:14px;
	padding:5px;
}
textarea{
	border: 1px solid #069;
	border-radius: 5px;	
	width:100%;
	min-width:200px;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	padding:5px;
}

.boton{
	
}

.boton {
	background-color:#2864AC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	margin-top:20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.boton:hover {
	background-color:#0688fa;
}
.boton:active {
	position:relative;
	top:1px;
}

/* CSS Formulario end */